@import url('https://fonts.googleapis.com/css?family=Metamorphous|Hind:300|Lato:300');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: black;
	color: white;
	font-family: 'Hind', sans-serif;
}

#banner-text {
	position: fixed;
	padding: 40px 0px 0px 40px;
	color: white;
	font-family: 'Metamorphous', cursive;
	font-size: 1.2em;
}

#heading {
	text-align: center;
	padding: 100px;
	padding-bottom: 0px;
	font-size: 3.5em;
}

#platform {
	max-width: 70%;
	margin: 0 auto;
}
.pad {
	padding-top: 260px;
}
.people-r, .people-l {
	padding: 100px 0 20px 0;
	opacity: 1;
}

.Pteam {
	background-color: white; 
	max-width: 85%;
	height: 520px;
}

.Pteam img {
	position: absolute;
	width : auto;
	height: 500px;
}

.people-l .Pteam {
	margin-left: auto;
}

#Dplace-here {
	padding: 30px;
}

.Dteam {
	height: 220px;
	width: 280px;
	background-color: white;
	color: black;
	box-shadow: 0px 10px 50px 5px black;
}
.Dteam h4{
	font-size: 1.4em;
}
.Dteam h3 {
	font-size: 2em;
}

h5 {
	font-size: 1.1em;
}

.people-l .pad .Dteam, .people-l .pad {
	float: left;
	text-align: left;
}

.people-r .pad .Dteam, .people-r .pad {
	float: right;
	text-align: right;
}

.social i {
	padding-right: 20px;
	text-decoration-color: none;
}
.social {
	text-align: center;
	font-size: 1.6em;
	bottom: 0px;
}

a {color: inherit;}
a:hover {color: grey;}

#slider {
	position: fixed;
	right: 50px;
	top: 30%;
}

div a {
	padding-bottom: 20px;
}

.circle {
	width: 10px;
	height: 10px;
	background: white;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    color: white;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


footer {
	text-align: center;
	padding: 100px 0 20px 0;
}

#up {
	position: fixed;
	bottom: 30px;
	right: 37px;
	color: white;
	font-size: 30px;
}


#myNav {

	font-family: 'Lato', sans-serif;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    overflow: auto;
}


.overlay a {
    padding: 90px;
    text-decoration: none;
    font-size: 4em;
    color: white;
    display: inline-block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
}

#navi {
	position: fixed;
	right: 10px;
	top: 10px;
}

#intro {
	max-width: 60%;
	text-align: center;
	font-size: 30px;
	margin: 0 auto;
	padding-top: 150px;
}

#main-heading {
	text-align: center;
	padding-top: 40px;
}

#main {
	font-size: 50px;
	letter-spacing: 6px;
	font-family: 'Lato', sans-serif;
}
#bar {
	background-color: #E3B413;
	height: 3px;
	width: 420px;
	margin: 0 auto;
}

#holder div {
	display: inline-block;
	max-width: 33.33%;
}

#holder {
	max-width: 35%;
	margin: 0 auto;
}

.btn {
	width: 200px;
}


#rishabh {
	background: url("images/abhishek.jpg") center center no-repeat;
	background-size: auto 520px;
	background-color: #09C2DF;
}

#abhishek {
	background: url("images/user.png") center center no-repeat;
	background-size: auto 520px;
	background-color: #09C2DF;
}


#siddhant {
	background: url("images/sid.jpg") center center no-repeat;
	background-size: auto 520px;
	background-color: #09C2DF;
}


#siddharth {
	background: url("images/siddharth.jpg") center center no-repeat;
	background-size: auto 520px;
	background-color: #09C2DF;
}


#vinit {
	background: url("images/user.png") center center no-repeat;
	background-size: auto 520px;
	background-color: #09C2DF;
}


#austin {
	background: url("images/user.png") center center no-repeat;
	background-size: auto 520px;
	background-color: #09C2DF;
}


#anmol {
	background: url("images/anmol.jpg") center center no-repeat;
	background-size: auto 520px;
	background-color: #09C2DF;
}

