@import url('https://fonts.googleapis.com/css?family=Metamorphous|Hind');

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: black;
	color: white;
	font-family: 'Hind', sans-serif;
}

#banner {
	position: fixed;
	padding: 40px 0px 0px 40px;
	color: white;
	font-family: 'Metamorphous', cursive;
	font-size: 1.2em;
}

#heading {
	text-align: center;
	padding: 100px;
	padding-bottom: 0px;
	font-size: 3.5em;
}

#platform {
	max-width: 70%;
	margin: 0 auto;
}
.pad {
	padding-top: 260px;
}
.people-r, .people-l {
	padding: 100px 0 20px 0;
	opacity: 1;
}

.Pteam {
	background-color: white; 
	max-width: 85%;
	height: 520px;
}

.Pteam img {
	position: absolute;
	width : auto;
	height: 500px;
}

.people-l .Pteam {
	margin-left: auto;
}

#Dplace-here {
	padding: 30px;
}

.Dteam {
	height: 220px;
	width: 280px;
	background-color: white;
	color: black;
	box-shadow: 0px 10px 50px 5px black;
}
.Dteam h4{
	font-size: 1em;
}
.Dteam h3 {
	font-size: 2em;
}

h5 {
	font-size: 1.1em;
}

.people-l .pad .Dteam, .people-l .pad {
	float: left;
	text-align: left;
}

.people-r .pad .Dteam, .people-r .pad {
	float: right;
	text-align: right;
}

.social i {
	padding-right: 20px;
	text-decoration-color: none;
}
.social {
	text-align: center;
	font-size: 1.6em;
	bottom: 0px;
}

a {color: inherit;}
a:hover {color: grey;}


.circle {
	width: 10px;
	height: 10px;
	background: white;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}






#rishabh {
	background: url("images/abhishek.jpg") center center no-repeat, url(images/abhishek.jpg) repeat;
	background-size: auto 520px;
}

#abhishek {
	background: url("images/sid.jpg") center center no-repeat, url(images/sid.jpg) repeat;
	background-size: auto 520px;
}


#siddhant {
	background: url("images/sid.jpg") center center no-repeat, url(images/sid.jpg) repeat;
	background-size: auto 520px;
}


#siddharth {
	background: url("images/siddharth.jpg") center center no-repeat, url(images/siddharth.jpg) repeat;
	background-size: auto 520px;
}


#vinit {
	background: url("images/sid.jpg") center center no-repeat, url(images/sid.jpg) repeat;
	background-size: auto 520px;
}


#austin {
	background: url("images/sid.jpg") center center no-repeat, url(images/sid.jpg) repeat;
	background-size: auto 520px;
}


#anmol {
	background: url("images/anmol.jpg") center center no-repeat, url(images/anmol.jpg) repeat;
	background-size: auto 520px;
}

